apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: rekor-japower
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: rekor-japower
    app.kubernetes.io/part-of: rekor
  name: rekor-japower
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: rekor-japower
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: rekor-japower
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/japower-tenant/rekor/rekor-japower@sha256:f182501632feb9fb304e0012e5feea887e767ef703626f87e46e3a53462fb28b
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
