apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: rekor-japower
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/japower-tenant/rekor/rekor-japower@sha256:8e639bb42cf53ffaa975758cbc7645417ad96f015cfb358adc49b768769deb60
        name: container-image
        resources: {}
status: {}
