apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: rekor-japower
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/japower-tenant/rekor/rekor-japower@sha256:49d7bba47b01864e12296205e56b571169e9ac0c0a09021c21f42f3ac8db60c0
        name: container-image
        resources: {}
status: {}
