apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: rekor-japower
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/japower-tenant/rekor/rekor-japower@sha256:f182501632feb9fb304e0012e5feea887e767ef703626f87e46e3a53462fb28b
        name: container-image
        resources: {}
status: {}
